@import "tailwindcss";

@font-face {
  font-family: "Onest";
  src: url("/src/assets/Onest.woff2");
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@theme {
  /* COLORES */

  /* FUENTES */
  --font-display: "Onest", sans-serif;
}
